html {
  height: 100%;
}

body {
  background-color: #d29034;
  height: 100%;
  margin: 0;
  padding: 0;
}
body #app {
  position: relative;
  height: 100%;
}
body #app .heading {
  font-size: larger;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}
body #app .board {
  background-color: #d29034;
  padding: 0.5rem 0;
  white-space: nowrap;
  width: 100%;
}
body #app .board button:last-child {
  display: inline-block;
}
body #app .board .new-board {
  display: inline-block;
}
body #app .board .new-board > button {
  background-color: #dda95e;
  padding: 0.5rem;
  color: white;
  border: none;
  min-width: 200px;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 3px;
  margin-left: 0.5rem;
  cursor: pointer;
}
body #app .board .new-board > div > input {
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
}
body #app .board .new-board > div > input:focus {
  border: 2px solid #0079bf;
}
body #app .board .new-board > div > button {
  background-color: #0079bf;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
body #app .board .new-board > div > button:last-child {
  background: transparent;
  font-size: x-large;
  transform: rotateY(0deg) rotate(45deg);
}
body #app .board .column-wrapper {
  display: inline-block;
  background-color: #ebecf0;
  width: 272px;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 0.5rem 0.5rem;
  margin-left: 0.5rem;
}
body #app .board .column-wrapper .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #app .board .column-wrapper .column div.column-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body #app .board .column-wrapper .column div.column-title > span {
  font-weight: bold;
  font-size: 1rem;
}
body #app .board .column-wrapper .column div.column-title button {
  transform: rotateY(0deg) rotate(45deg);
  transition: transform 2s;
  border: none;
  padding: 0.5rem;
  font-size: larger;
  cursor: pointer;
  background: transparent;
}
body #app .board .column-wrapper .column div.column-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 0.5rem;
}
body #app .board .column-wrapper .column div.column-body > div {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 85vh;
}
body #app .board .column-wrapper .column div.column-body .card {
  background-color: #ffffff;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  white-space: initial;
  cursor: pointer;
}
body #app .board .column-wrapper .column div.column-body .card:hover {
  background-color: #F3F4F6;
}
body #app .board .column-wrapper .column div.column-footer button {
  width: 100%;
  border: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  color: #4a5568;
}
body #app .board .column-wrapper .column div.column-footer > div > textarea {
  resize: vertical;
  width: 98%;
  min-height: 54px;
}
body #app .board .column-wrapper .column div.column-footer > div div {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
body #app .board .column-wrapper .column div.column-footer > div div button {
  width: 2.8rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
}
body #app .board .column-wrapper .column div.column-footer > div div button:first-child {
  background-color: #0079bf;
  color: white;
  border-radius: 3px;
}
body #app .board .column-wrapper .column div.column-footer > div div button:last-child {
  transform: rotateY(0deg) rotate(45deg);
  font-size: x-large;
  color: #4a5568;
}
body #app #db-export-btn {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
}
body #app #db-export-btn a {
  padding: 2rem;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #2d3748;
  text-decoration: none;
}
body #app #db-export-btn a:hover {
  background-color: #E5E7EB;
}

.card-modal {
  padding: 1rem;
  background-color: #f4f5f7;
  height: 100%;
}
.card-modal > h3 {
  display: inline-block;
  margin-top: 0;
  color: #172b4d;
}
.card-modal > div > h4 {
  color: #172b4d;
}
.card-modal > div > p {
  background-color: #eaecef;
  padding: 0.5rem;
  border-radius: 3px;
}
